<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
    <style>
        .bg-color {
    background-color: red;
    padding: 30px;
}

.bg-image-001 {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(div1.jpg);
    background-position: center;
    background-size: cover;
}
    </style>
</head>
<body>
    <section class="bg-dark py-5">
    <div class="container">
        <div>
            <h3>Leading way.....</h3>
        </div>
        <div class="row">
           <div class="col-8">
             <div class="bg-color h-100">
                <h3>Reafkjlfkghj</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, sit.</p>
                <div class="row">
                    <div class="col-6 mb-2">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="col-6 mb-2">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-2">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="col-6 mb-2">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-2">
                        <textarea rows="4" placeholder="Additional Details" class="form-control"></textarea>
                    </div>
                    
                </div>
             </div>
           </div>
           <div class="col-4">

            <div class="bg-color h-100">
                <h3>hjkldhjfjkl</h3>
                <h3>hjkldhjfjkl</h3>
                <h3>hjkldhjfjkl</h3>
                <h3>hjkldhjfjkl</h3>
            </div>
           </div>
        </div>
    </div>
</section>
<section class="bg-image-001 py-3">
<div class="container">
    <h3 class="mb-4 text-center">Work process</h3>
    <h2 class="text-center">How We Work</h2>
    <div class="row justify-content-center">
        <div class="col-3">
            <div class="bg-white p-3">
                <div class="row">
                    <div class="col-auto">
                        <p>Heading</p>
                    </div>
                    <div class="col">
                        <p>Heading sdljfdsklj</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="bg-white p-3">
                <div class="row">
                    <div class="col-auto">
                        <p>Heading</p>
                    </div>
                    <div class="col">
                        <p>Heading sdljfdsklj</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="bg-white p-3">
                <div class="row">
                    <div class="col-auto">
                        <p>Heading</p>
                    </div>
                    <div class="col">
                        <p>Heading sdljfdsklj</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>